<%- include("./componen/header") %>
<style>
  .carousel-caption h5 {
font-size: 1.5rem; /* default font size for mobile */
}

.carousel-caption p {
font-size: 1rem;
}

@media (min-width: 768px) {
.carousel-caption h5 {
  font-size: 2rem; /* larger font size for tablets and above */
}

.carousel-caption p {
  font-size: 1.25rem;
}
}
/* Menggelapkan gambar */
.carousel-item {
position: relative;
}

.carousel-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
z-index: 0;
}

.carousel-item img {
z-index: -1; /* Gambar di belakang overlay */
}

/* Menambahkan bayangan pada teks */
.text-shadow {
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Efek bayangan */
}

.carousel-caption {
z-index: 0; /* Teks berada di depan overlay */
}

</style>

<%- include("./componen/sidebar") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="bgimg row justify-content-center mb-3">
            <div class="col-lg-8 col-12">
              <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-overlay"></div> <!-- Overlay untuk menggelapkan gambar -->
                    <img src="/bg/Teacher2.png" class="d-block w-100 carousel-image"  alt="...">

                    <div class="carousel-caption">
                      <h5 class="display-6 text-shadow">Web Absensi Sekolah</h5>
                      <p class="lead text-shadow"><%= sekolah.nama %></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  
                </button>
              </div>
            </div>
          </div>
          
          
          <div class="row justify-content-center">
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <div class="info-box d-flex flex-column align-items-center">
                <a href="/guru/jadwal" class="d-flex justify-content-center align-items-center flex-column text-reset text-decoration-none">
                  <span class="info-box-icon d-flex justify-content-center align-items-center" style="width: 90px; height: 80px; background-color: rgb(136, 185, 183);">
                    
                    <img src="/icon/icon_jadwal.png" alt="">
                  </span>
                  <div class="info-box-content text-center mt-2">
                    <span class="info-box-text">Jadwal Mengajar</span>
                    <span class="info-box-number"></span>
                  </div>
                </a>
              </div>
            </div>
            
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <div class="info-box d-flex flex-column align-items-center">
                <a href="/guru/data_siswa" class="d-flex justify-content-center align-items-center flex-column text-reset text-decoration-none">
                  <span class="info-box-icon d-flex bg-orange justify-content-center align-items-center" style="width: 90px; height: 80px; ">
                    <img src="/icon/siswa.png" style="filter: drop-shadow(1px 1px 1px  black);" alt="">
                  </span>
                  <div class="info-box-content text-center mt-2">
                    <span class="info-box-text">Daftar Murid</span>
                    <span class="info-box-number"></span>
                  </div>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <div class="info-box d-flex flex-column align-items-center">
                <a href="/guru/menu_rekap" class="d-flex justify-content-center align-items-center flex-column text-reset text-decoration-none">
                  <span class="info-box-icon bg-lightblue d-flex justify-content-center align-items-center" style="width: 90px; height: 80px;">
                    <img src="/icon/Programming.png" alt="">
                  </span>
                  <div class="info-box-content text-center mt-2">
                    <span class="info-box-text">Rekap Absen</span>
                    <span class="info-box-number"></span>
                  </div>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-6">
              <div class="info-box d-flex flex-column align-items-center">
                <a href="/guru/tugas" class="d-flex justify-content-center align-items-center flex-column text-reset text-decoration-none">
                  <span class="info-box-icon d-flex justify-content-center align-items-center" style="width: 90px; height: 80px;">
                    <img src="/icon/list.png" alt="">
                  </span>
                  <div class="info-box-content text-center mt-2">
                    <span class="info-box-text">Tugas Siswa</span>
                    <span class="info-box-number"></span>
                  </div>
                </a>
              </div>
            </div>
            <!-- ./col -->
          </div>
        

          
      
      
          <!-- /END THE FEATURETTES -->
          <!-- /.row -->  
    <!-- /.content -->
  </div>
  </div>
  </div>
  <!-- /.content-wrapper -->

  

  <!-- Main Footer -->
  <%- include("./componen/footer") %>