<%- include("../Componen/header") %>
<title>Siswa | Dashboard</title>
<%- include("../Componen/sideNavbarSiswa") %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="container">
          <div class="card-body">
            <!-- Box outside the row with full width -->
            <div class="row justify-content-center">
              <div class="col-lg-10 col-12">
                <div class="small-box bg-primary d-flex justify-content-center align-items-center position-relative" style="height: 300px;">
                  <!-- Image with a primary color overlay -->
                  <img src="kelas_bg.jpg" class="position-absolute w-100 h-100" style="object-fit: cover; opacity: 0.5;">
                  <div class="inner text-center position-relative">
                    <h3 class="d-block">SELAMAT DATANG!</h3>
                    <h3><%= siswa.nama_siswa %></h3>
                  </div>
                 
                </div>
                
              </div>
            </div>
            
            <!-- Row containing two columns -->
            <div class="row justify-content-center">
              <!-- ./col -->
              <div class="col-lg-5 col-6">
                <!-- small box -->
                <div class="small-box bg-warning h-100 d-flex flex-column">
                  <div class="inner">
                    <h3></h3>
                    <p>Jadwal</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="/siswa/jadwal" class="small-box-footer mt-auto" style="height: 50px;">
                    More info <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-5 col-6">
                <!-- small box -->
                
              </div>
              <!-- ./col -->
            </div>
          </div>
          
         
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include("../Componen/footer") %>
<script>
  
</script>