<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
   function generateRandomString(length) {
  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZ'; // 34 huruf
  let result = '';
  for (let i = 0; i < length; i++) {
    const randomIndex = Math.floor(Math.random() * chars.length);
    result += chars[randomIndex];
  }
  return result;
}

function generateMultipleStrings(numStrings, length) {
  const result = [];
  for (let i = 0; i < numStrings; i++) {
    result.push(generateRandomString(length));
  }
  return result;
}

const randomStrings = generateMultipleStrings(34, 5); // 34 string, panjang masing-masing 5 karakter
console.log(randomStrings);


  </script>
</body>
</html>
IJMWV
CMZDT
PAZRU
ZGZWA
NKXDK
TDZFH
QDALG
GNFKZ
GWMUO
JXCZL
WBWTR
WIYTO
NERBF
DIBMX
MEDOH
RYKEC
VPLRP
YYSNF
ABQOC
AGAGH
ZNZGI
CUNXU
IMOQD
LAINM
KQELB
DMDRO
YRHTA
JWQFF
GFNWT
ASGEV
YYRJY
RICAA
MCIOX
KLNGQ